
button {
  background-color: #FDE8C5;
  border-radius: 40px;
  color: #F5A71E;
  padding: 15px 0;
  margin: 10px 0;
  width: 150px;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: BigJohn;
}

button:hover {
  background-color: #ffe2b7;
}
