@font-face {
  font-family: BigJohn;
  src: url(/fonts/BIG JOHN.otf);
}

@font-face {
  font-family: SlimJoe;
  src: url(/fonts/SLIM JOE.otf);
}

@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #4f4f4f;
}

/* Proffessional title */
h1{
  font-family: BigJohn;
  font-size: 42px;
  margin: 3px 0;
  color: #000;
}

/* Name */
h2{
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 0;
}

/* page margins */
.pageContainer{
  margin: 10px 150px;
}

li{
  list-style: none;
  font-size: 15px;
}

/* ------------------STARTPAGE: aboutMePresentation------------------ */
.aboutContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
}

.aboutContainer p{
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0;

}

.aboutContainerText{
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 0;
}

.contactInfo p{
  margin: 0;
  font-size: 13px;
  font-style: italic;
  color: #999999;
}

.aboutContainerImage img{
  height: 230px;
  width: auto;
  object-fit: contain;
  padding: 40px 40px 0 40px;
}



/* ------------------STARTPAGE: TechPresentation------------------ */

/* tech listing */
.techContainer p{
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

/* ------------------STARTPAGE: CasePreviewBox------------------ */

.CasePreviewBoxContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.CasePreviewBox{
  width: 48%;
}

/* case preview headline */
.CasePreviewTextContainer{
  display: flex;
  height: auto;
  min-height: 42px;
  padding-top: 30px;
  letter-spacing: 1px;
}

.CasePreviewBox h4{
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-stretch: semi-expanded;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.CasePreviewBox a{
  color: #4f4f4f;
  text-decoration: none;
}

.CasePreviewBox a:hover {
  color: black;
  text-decoration: underline;
}

.caseImage{
  flex: 1 1;
  object-fit: scale-down;
  width: 100%;
  height: auto;
  }


  /* ------------------TEXT BLOCKS: SKILLS, STUDIES and CASE PAGE TECH------------------ */

  /* TECH, SKILLS, STUDIES headline */
  h3{
    font-family: BigJohn;
    font-size: 22px;
    color: #000;
  }

  /* Headlines in textboxes under TECH, SKILLS, STUDIES*/
  .textBox h4{
    font-family: BigJohn;
    font-size: 15px;
    margin: 0;
    padding-bottom: 5px;
  }

  .textBox p{
    font-size: 15px;
    text-align: left;
    margin-top: 0;
  }

  /* ------------------TECH SPECS, SKILLS, STUDIES------------------ */


  .skillsContainer, .studiesContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 18px;
  }

  .textBox{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    height: auto;
    width: 33.33%;
  }


/* ------------------CASEPAGE------------------ */

.pageContentContainer{
  padding: 10px 150px;
}

/* ------------------CasePage: CaseDetails------------------ */

.CaseDetailsContainer h1{
  font-size: 24px;
}

.CaseDetailsContainer p{
  font-size: 14px;
}

/* ------------------FOOTER------------------ */

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffe2b7;
  height: 120px;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer p, h5{
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #000;
}

/* ____________________________MEDIA QUERIES___________________________ */

@media screen and (min-width: 841px) and (max-width: 1020px) {

  /* page margins */
  .pageContainer{
    margin: 10px 75px;
  }

  /* ------------------TEXT BLOCKS: SKILLS, STUDIES and CASE PAGE TECH------------------ */
  .textBox{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    height: auto;
    width: 33.33%;
  }

}

@media screen and (min-width: 601px) and (max-width: 840px) {

  /* page margins */
  .pageContainer{
    margin: 10px 20px;
  }

  .textBox{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    height: auto;
    width: 33.33%;
  }

}

@media screen and (min-width: 421px) and (max-width: 600px) {

  /* page margins */
  .pageContainer{
    margin: 10px 20px;
  }

  .aboutContainerText{
    padding-left: 0;
  }

  .aboutContainerImage img{
    height: 200px;
    width: auto;
    object-fit: contain;
    padding: 30px;
  }

  .CasePreviewBoxContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .CasePreviewBox{
    width: 100%;
  }

  /* tech listing */
  .techContainer p{
    margin: 0;
  }

  .skillsContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 18px;
  }

  .studiesContainer{
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
  }

  .textBox{
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 420px) {

  /* page margins */
  .pageContainer{
    margin: 10px 20px;
  }

  .aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
  }

  .aboutContainerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    text-align: center;
  }

  .aboutContainerImage img{
    height: 230px;
    width: auto;
    object-fit: contain;
    padding: 20px;
  }

  .CasePreviewBox{
    width: 100%;
  }

  /* tech listing */
  .techContainer p{
    margin: 0;
  }

  .studiesContainer{
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
  }

  .skillsContainer {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 18px;
  }

  .textBox{
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }

}
